@media screen and (min-width:200px) and (max-width:768px){
/*responsiv de index*/
    
    .bodyy{
        display: grid;
        
        
        
        
    }
    .cabecera{
        width: 129%;
    }
     .navbar{
        width: 129%;
        font-size: x-large;
        display:inline-block;
        padding-block-end: 10%;        

     }

     .img{
      margin-left: 9%;
      

     }
    .sobrekinesiologia{
        margin-top: 60%;
        margin-left: 24%;
        text-align: center;
        
    }
}